:root {
  /* Main brand colors */
  --heading-color: #333333; /* Heading color */
  --background-color-btn: #d17a22;
  --hover-color-btn: #c15818;
  --dark-font: #e0e0e0;
  --dark-background: #121212;
  --light-font: #212121;
  --light-background: #fff;
}

/*Task1*/
body {
  font-family: 'Judson', Arial, sans-serif;
  font-size: 12px;
}

p {
  text-align: right;
}

th {
  background-color: #d3d3d3;
}

.wrapper {
  width: fit-content;
  margin: 6rem auto;
}

.links {
  margin: 1rem auto;
  display: flex;
  justify-content: space-between;
}
nav {
  display: flex;
  justify-content: center;
}
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

a {
  text-decoration: none;
}
a,
button,
input {
  transition: all 0.25s ease;
}
a:hover,
button:hover,
input[type='submit']:hover {
  cursor: pointer;
}

a {
  color: #1a5a7a;
  border-bottom: 2px solid #1a5a7a;
  background-color: #fff;
  padding: 0.35rem 0.7rem;
}
a:hover {
  background-color: #1a5a7a;
  color: #fff;
}
/*Task1 end*/

/*Task2 */
.formGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr fit-content;
  grid-row-gap: 1rem;
}

input[type='submit'] {
  background-color: var(--background-color-btn);
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  display: block;
  margin-top: 1rem;
}
input[type='submit']:hover {
  background-color: var(--hover-color-btn);
  color: #fff;
}
input[type='text'],
input[type='password'] {
  border-radius: 5px;
  width: 8rem;
  height: 2rem;
  padding: 0 1rem;
  filter: drop-shadow(0px 2px 4px #00000040);
  margin-left: 1rem;
  outline: none;
  border: none;
}

input::placeholder {
  color: #a2a5b5;
}
input[type='text']:focus,
input[type='password']:focus {
  outline: 2px solid #33a5e7;
}
/*Task2 end*/

/* Assignment 3 task1 */
input[type='text'].valid,
input[type='password'].valid {
  border: 2px solid green;
}
input[type='text'].invalid,
input[type='password'].invalid {
  border: 2px solid red;
}

.darkMode,
.darkMode h1,
.darkMode h2 {
  color: var(--dark-font);
  background-color: var(--dark-background);
}
.lightMode {
  color: var(--light-font);
  background-color: var(--light-background);
}
body.darkMode a {
  color: var(--dark-font);
  border-bottom: 2px solid var(--dark-font);
  background-color: var(--dark-background);
}
body.darkMode a:hover {
  color: var(--light-font);
  border-bottom: 2px solid var(--light-font);
  background-color: var(--light-background);
}
body.darkMode input[type='text'],
body.darkMode input[type='password'] {
  background-color: var(--light-background);
}
body.darkMode .theme-setting {
  border: 2px solid var(--dark-font);
}
.top-bar {
  position: relative;
}
.theme-setting {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 50%;
  left: 90%;
  width: 2rem;
  height: 2rem;
  border-radius: 10%;
  border: 2px solid #121212;
}
